.node-colors {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: black;
    border: black solid 1px;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

table {
    #border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.node-name {
    border: 1px solid black;
    margin-bottom: 2px;
}
.selected {
    color: orange;
}

.has-many {
    color: aqua;
}

.has-one {
    color: forestgreen;
}

.belongs-to {
    color: magenta;
}
